@model IEnumerable<TESHApp.Models.Alumno>
@using System.Security.Principal

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
            }

        </tr>
}
    </tbody>
</table>
